@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Register -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center">
                        <img src="~/assets/images/logos/Shan D. Wanigasuriya.png" alt class="w-px-150 h auto" />
                    </div>
                    <!-- /Logo -->
                    <h4 class="mb-2">Welcome to BEMS</h4>
                    <p class="mb-4">Please log-in to your account</p>

                    <form asp-action="" asp-controller="" id="login-form" class="mb-3" method="POST">

                        <div class="row">
                            <div class="col-12 text-center">
                                <img src="~/assets/images/logos/microsoft-logo.png" alt="logo" class="w-px-200 h-auto" />
                            </div>
                        </div>

                        <div class="mb-3">
                            <a href="@Url.Action("", "")" class="btn btn-primary d-grid w-100">Sign in</a>
                        </div>
                    </form>

                    <p class="text-center">
                        <span>New on our platform?</span>
                        <a href="@Url.Action("", "")">
                            <span>Register</span>
                        </a>
                    </p>
                </div>
            </div>
            <!-- /Register -->
        </div>
    </div>
</div>