@using bwms_core_domain.SystemModels;

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">

    <div class="row mb-4">
        <div class="col-6">
            <h4 class="fw-bold py-3"><span class="text-muted fw-light">Residents Portal /</span> Notifications</h4>
        </div>
    </div>

    <div class="row">

        <!--left card-->
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="alert alert-" role="alert">
                                New waste collection schedule has been updated for your area. Please check the updated timings.
                            </div>

                            <div class="alert alert-primary" role="alert">
                                Recycling bins will be distributed to all residents starting next Monday. Ensure you receive yours!
                            </div>

                            <div class="alert alert-success" role="alert">
                                Congratulations! Our community achieved a 70% recycling rate this month. Keep up the good work!
                            </div>

                            <div class="alert alert-danger" role="alert">
                                Hazardous waste collection is overdue in some areas. Please dispose of items like batteries and chemicals properly.
                            </div>

                            <div class="alert alert-danger" role="alert">
                                Excessive plastic waste detected this week. Try reducing single-use plastics and opt for reusable alternatives.
                            </div>

                            <div class="alert alert-primary" role="alert">
                                Organic waste composting bins will be available at the community center starting tomorrow. Please collect yours.
                            </div>

                            <div class="alert alert-success mb-0" role="alert">
                                The landfill usage has increased by 15% this quarter. Let's work together to reduce waste and recycle more!
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>
<!-- / Content -->