@{
    Layout = "~/Views/Shared/_AuthorityLayout.cshtml";
}

<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">

    <div class="row mb-4">
        <div class="col-6">
            <h4 class="fw-bold py-3"><span class="text-muted fw-light">Authority Portal /</span> Waste Collection Dashboard</h4>
        </div>
    </div>

    <div class="row">

        <!--left card-->
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <h5 class="card-header">Shedule for today</h5>
                        <div class="table-responsive text-nowrap">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Customer Name</th>
                                        <th>Contact Number</th>
                                        <th>Email</th>
                                        <th>Address</th>
                                        <th>Estimated Volume (kg)</th>
                                        <th>Bin Status</th>
                                        <th>Generate QR</th>
                                    </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                    <tr>
                                        <td>2024-10-21</td>
                                        <td>Organic Waste</td>
                                        <td><span class="badge bg-label-warning">Scheduled</span></td>
                                        <td>123 Green St, Springfield</td>
                                        <td>250 kg</td>
                                        <td><a href="#">View Map</a></td>
                                        <td><a href="#">View Map</a></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- / Content -->